@import url(https://fonts.googleapis.com/css?family=Poppins:400,600,500);
// $background: lightblue;

body {
  // background: $background;
  font-family: 'Poppins', sans-serif;
  // font-family: "Helvetica Neue", serif;
}

.logo {
  margin: 30px 50px;
  height: 40px;
  background: url(http://healthitecture.com/img/logo-black.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.question {
  text-align: center;
  font-size: 24px;
  // background: url(/client/styles/question.jpeg);
  // background-size: cover;
  // background-position: center;
  background-color: #B48D3D;
  color: #fff;
  // margin-left: -15px;
  // margin-right: -15px;
  padding: 30px 50px;
  letter-spacing: 1px;
}

.logo-container {
  background-color: #3F515A;
  color: #fff;
  // margin-left: -15px;
  // margin-right: -15px;
  // padding: 20px;
  //
  margin: 0;
  height: 80px;
  font-size: 22px;
  letter-spacing: 2px;
  text-align: center;
}

.search-box {
  // background-color: #2A353B;
  // border-left: 5px solid #d9534f;
  // min-height: 100vh;
  // padding: 80px 50px;
  overflow: auto;

  .search-container {
    margin: 0;
    padding: 40px;
  }

  .search-field {
    // border: 1px solid hsla(198, 17%, 42%, .1);
  }

  .search-input {
    outline: 1px solid hsla(198, 17%, 42%, .1);
    width: 100%;
    height: 50px;
    font-size: 22px;
  }

  .img-box {
    width: 30%;
    margin: 20px auto;
  }

  .search-button {
    margin-top: 10px;
    height: 50px;
    font-size: 18px;
    line-height: 46px;
    background-color: #3F515A;
    color: #fff;
    text-transform: uppercase;
    border: none;
  }

  .search-items {
    padding-top: 80px;
  }
}

.collage {
  overflow: hidden;
}

.collage-item {
  height: 150px;
  line-height: 150px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;

  // border: hsla(198, 17%, 42%, .1);

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    border: none;
    // background-color: hsla(198, 17%, 42%, .3);
  }
}

.collage-item-filled {
  margin: 50px 0;
}

.box-skirt {
  background-color: hsla(198, 17%, 42%, .5);
}

.add-to-blog {
  margin: 30px auto;
  height: 50px;
  font-size: 18px;
  width: 80%;
  line-height: 46px;
  background-color: #3F515A;
  color: #fff;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.add-container {
  width: 100%;
  text-align: center;
}

.item-selected {
  border: 2px solid #B48D3D;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    border: none;
  }
}

.logo-back {
  // display: inline-block;
  // width: 20%;
  font-size: 14px;
  line-height: 80px;
  text-transform: uppercase;
}

.logo-text {
  padding: 10px 0;
  // display: inline-block;
  // width: 80%;
}

.unselected-part {
  @media all and (max-width : 992px) {
    display: none;
  }
}

.initial {
  background-image: url(https://images.unsplash.com/photo-1457972703743-4a6585c42ed8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=74687657e88c033beccfe06f4ab18936);
  background-size: cover;
  min-height: 130vh;
}
