/* .module { */
/* 	text-align: center; */
/* 	font-size: 30px; */
/* 	display: block; */
/* 	background-color : white; */
/* 	margin: 10px; */
/* } */
/* .img-box { */
/* 	max-width: 100px; */
/* 	max-height: 100px; */
/* 	display: inline-block; */
/* 	padding: 10px; */
/* } */
/* .box-hat { */
/* 	width: 100px; */
/* 	height: 100px; */
/* 	line-height: 100px; */
/* } */
/* .box-top { */
/* 	width: 200px; */
/* 	height: 200px; */
/* 	line-height: 200px; */
/* } */
/* .box-bottom { */
/* 	width: 200px; */
/* 	height: 200px; */
/* 	line-height: 200px; */
/* } */
/* .box-shoes { */
/* 	width: 100px; */
/* 	height: 100px; */
/* 	line-height: 100px; */
/* } */

figure.effect figcaption {
	display: none;
}

figure.effect figcaption:hover {
	display: inline;
}

figure.effect p {
	position: relative;
	display: inline-block;
	margin: 0 0 0.25em;
	padding: 0.4em 1em;
	background: rgba(255,255,255,0.9);
	color: #2f3238;
	text-transform: none;
	font-weight: 500;
	font-size: 75%;
}

figure.effect p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
